<head>

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->
    <link rel="stylesheet" href="assets/css/style-starter.css">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eazy School - Best Educational Institute for your Child</title>

    <!-- Standard Favicon (PNG) -->
    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />

    <!-- Favicon (SVG format) -->
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />

    <!-- Favicon (ICO format) for older browsers -->
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />

    <!-- Web App Manifest -->
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />


</head>